<%= turbo_stream.update "chat_messages" do %>
  <%= render "chats/shared/chat", messages: @messages %>
  <div class="chat-messages-list pt-0">
    <div class="d-flex justify-content-start mb-2">
      <div class="chat-bubble--assistant">
        <span class="typing-indicator">
          <span></span><span></span><span></span>
        </span>
      </div>
    </div>
  </div>
<% end %>
