// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

// Define fonts for body and headers
$body-font: "Figtree", "Helvetica", "sans-serif";
$headers-font: "Bungee", "sans-serif";

.page-title {
  font-family: 'Bungee', sans-serif;
  font-size: 2rem;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.sticker-text {
  -webkit-text-stroke: 2px black;
  text-shadow: 3px 3px 0px #2979FF;
  letter-spacing: 2px;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
