
<div class="bg-primary rounded-5">
  <p>
    <% if messages.empty? %>
      Que souhaitez vous mémoriser ?
      <p>Laisse-toi guider pour générer ton programme de mémorisation.</p>
    <% else %>
      Montrer les messages (itération à coder)
    <% end %>
  </p>
</div>
