
<div class="bg-link-color rounded-5">
    <% if messages.empty? %>
      <p>Que souhaitez vous mémoriser ?</p>
      <p>Laisse-toi guider pour générer ton programme de mémorisation.</p>
    <% else %>
            <% messages.each do |message| %>
                <% if message.role == "user" %>
                    <div class="d-flex justify-content-end mb-2">
                        <div class="bg-primary ms-5 p-2 rounded-pill"><%= message.content %></div>
                    </div>
                <% elsif message.role == "assistant" %>
                    <div class="d-flex justify-content-start mb-2">
                        <div class="bg-black me-5 p-2 rounded-pill"><%= message.content %></div>
                    </div>
                <% end %>
            <% end %>
    <% end %>
</div>
