    <%= simple_form_for [chat, message], html: { class: "simple-form-generate" } do |f| %>

        <%#= f.label :content, "Que souhaites-tu mémoriser ?" %>
        <%= f.text_area :content, placeholder: "Parle nous du sujet que tu souhaites mémoriser" %>
        <div class="d-flex justify-content-end"><%= f.submit "Envoyer", class: "btn btn-secondary btn-sm fw-bold position-sticky" %></div>


    <% end %>
