<%= turbo_frame_tag "message_form" do %>
  <%= simple_form_for [chat, message], html: { class: "simple-form-generate" } do |f| %>

      <%= f.text_area :content, placeholder: "Parle nous du sujet que tu souhaites mémoriser", data: { controller: "auto-resize", action: "input->auto-resize#resize" } %>

      <div class="d-flex justify-content-end">
        <%= f.submit "Envoyer", class: "btn btn-secondary btn-sm fw-bold position-sticky" %>
      </div>

  <% end %>
<% end %>
