<div class="play-page" data-controller="reveal"
    data-reveal-next-url-value="<%= @next_card_id ? play_path(@next_card_id) : memos_path %>">

  <div class="play-card">
    <div class="play-reveal-answer"><%= @card.answer %></div>
    <div class="play-reveal-bar">
      <div class="play-reveal-bar__fill" data-reveal-target="bar"></div>
    </div>
  </div>

</div>
