.<div class="container p-4">
    <div class="d-flex justify-content-between align-items-start p-3">
        <%= link_to memo_path(@chat.memo), class: "memo-item__arrow text-decoration-none" do %>
            <i class="fa-solid fa-arrow-left"></i>
        <% end %>
        <h1 class="text-end text-headings-font-family">Générer des cards grâce à l'IA</h1>
    </div>

  <% if @chat.errors.any? %>
    <div class="alert alert-danger">
      <p>Impossible de créer le mémo :</p>
      <ul>
        <% @chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= render "chats/shared/chat", messages: @chat.messages %>
    <%= render "chats/shared/message_input", chat: @chat, message: @message %>
  </div>
</div>
