<div class="chat-page">
  <div class="page-title sticker-text mb-4 mt-4">
    <h1>Générer des cards grâce à l'IA</h1>
  </div>

  <%= link_to memo_path(@chat.memo), class: "memo-show-header__back ms-3 mt-1 d-inline-flex mb-2" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>

  <% if @chat.errors.any? %>
    <div class="alert alert-danger mx-3">
      <p>Impossible de créer le mémo :</p>
      <ul>
        <% @chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="redirect-handler"></div>

  <div class="chat-card">
    <div class="chat-messages">
      <%= render "chats/shared/chat", messages: @chat.messages %>
    </div>

    <div class="chat-input">
      <%= render "chats/shared/message_input", chat: @chat, message: @message %>
    </div>
  </div>
</div>
