<article class="memo-card">
  <h3><%= card.ask %></h3>

  <div class="memo-card-actions">
    <%= link_to "Voir", memo_card_path(memo, card), class: "memo-card-btn danger" %>
    <%= link_to "Jouer", play_path(card), class: "memo-card-btn success" %>
  </div>
</article>
