<article class="memo-card">
  <span class="memo-card__question"><%= card.ask %></span>
  <%= link_to memo_card_path(memo, card), class: "memo-card__btn" do %>
    <i class="fa-solid fa-eye"></i>
  <% end %>
</article>
