// Bouton de base : forme, padding & alignement du texte
.btn{
  padding: 0.5em 1em;
  border-radius: 60rem;
  text-align: center;
  }

// Boutons généraux : couleurs, polices, bordures
// Possibilité de changer les couleurs des boutons en modifiant les variables dans _bootstrap_variables.scss

// Boutton principal : jaune
.btn-primary {
  background-color: $color-primary;
  color: $color-white;
  border: none;
  font-weight: 600;
  }

// Boutton secondaire : violet clair
.btn-secondary {
  background-color: $color-violet-variant;
  color: $color-white;
  font-weight: 600;
  }

// Boutton succès : vert
.btn-success {
  background-color: $color-success;
  color: $color-white;
  border: none;
  font-weight: 600;
  }

// Boutton danger : rouge
.btn-danger {
  background-color: $color-danger;
  color: $color-white;
  border: none;
  font-weight: 600;
  }

// Boutton info : transparent
.btn-info {
  background-color: $color-secondary;
  color: $color-white;
  border: 2px solid $color-white;
  font-weight: 600;
  }
