
.simple-form-generate {

  textarea {
    background-color: $color-secondary;
    border-radius: 1rem;
    border: 2px solid #000;
    box-shadow: 3px 3px 0 #000;
    width: 100%;
    padding: 10px 14px;
    color: white;
    font-weight: 600;
  }

  label {
    color: white;
    font-family: $headings-font-family;
  }

  ::placeholder {
    color: $color-violet-variant;
  }
}
