
.simple-form-generate {

    textarea {
        background-color: $color-secondary;
        border-radius: 20px;
        box-shadow: 4px 4px 0 $color-violet-variant;
        height: 7vh;
        width: 80vw;
        margin-bottom: 20px;
        padding:10px;
        border: solid $color-violet-variant;
        border-width: 3px;
        border-style: inset; 
        color:$color-primary; 
        color: white
    }

    label {
        color: white;
        font-family: $headings-font-family;
    }

    ::placeholder {
        color : $color-violet-variant;
        padding: 10px;
    }

    img {
        height: 10vh;
    }
}