
.simple-form {

    textarea {
        background-color: #2A185F;
        border-radius: 20px;
        border: none;
        box-shadow: 4px 4px 0 #000;
        height: 15vh;
        width: 80vw;
        margin-bottom: 20px;
    }

    label {
        color: $color-primary;
        font-family: $headings-font-family;
    }

    ::placeholder {
        color : white;
        padding: 10px;
    }

    img {
        height: 10vh;
    }
}
