<div class="memo-item">
  <div class="memo-item__info">
    <span class="memo-item__name"><%= memo.name %></span>
    <span class="memo-item__badge">0 / <%= memo.cards.count %></span>
  </div>
  <%= link_to memo_path(memo), class: "memo-item__arrow text-decoration-none" do %>
    <i class="fa-solid fa-arrow-right"></i>
  <% end %>
</div>
