<div class="simple-form">
  <h1 class="page-title sticker-text mb-3">MODIFIER MON MÉMO</h1>
    <%= link_to "Retour", memo_path(@memo), class: "btn btn-lg btn-primary btn-shadow" %>

    <%= simple_form_for [@memo] do |f| %>
    <%= f.input :name, label: "Nom actuel : #{@memo.name}", placeholder: "Saisir le nouveau nom" %>
    <%= f.button :submit, "Enregistrer les modifications", class:"btn btn-warning" %>
    <% end %>
</div>
