.<div class="container">
    <%= link_to "Retour", memo_path(@memo), class:"btn btn-secondary" %>

    <h1>Vous pouvez modifier le nom de votre mémo :</h1>

    <%= simple_form_for [@memo] do |f| %>
    <%= f.input :name, label: "Nom actuel : #{@memo.name}", placeholder: "Saisir le nouveau nom" %>
    <%= f.button :submit, "Enregistrer les modifications", class:"btn btn-warning" %>
    <% end %>
</div>
