<div class=>
    <h1 class="page-title sticker-text mb-3">
      Mes mémos
      </h1>
      <p> Vos pensées, stylisées et organisées en un clin d'œil.</p>
  </div>

  <div class="text-center mb-4 mt-4">
  <%= link_to "Nouveau Mémo", new_memo_path, class: " btn btn-lg btn-primary btn-shadow" %>
  </div>

  <div class="memos-page">
    <% if @memos.any? %>
      <div class="memos-list">
        <%= render @memos %>
      </div>
    <% else %>
      <p class="text-center mt-4">Aucun mémo pour le moment.</p>
    <% end %>
  </div>
</div>
