<div class="memorise-bg-gradient">

<h1>Mes mémos</h1>

<%= link_to "Retour", root_path, class: "btn btn-secondary" %>
<%= link_to "Créer un nouveau mémo", new_memo_path, class: "btn btn-success text-dark fw-bold" %>

<% if @memos.any? %>
<div class="row g-4">
  <% @memos.each do |memo| %>
    <div class="col-md-4">
      <%= link_to memo_path(memo), class: "memo-card" do %>
        <h3><%= memo.name %></h3>
      <% end %>
    </div>
  <% end %>
</div>
<% else %>
  <p>Aucun mémo pour le moment.</p>
<% end %>
</div>
