<div>

  <div class="memos-header">
    <h1>Mes mémos</h1>
  </div>

  <div class="text-center mb-4 mt-8">
  <%= link_to "Nouveau Mémo", new_memo_path, class: "btn btn-lg btn-primary btn-shadow" %>
  </div>

  <div class="memos-page">
    <% if @memos.any? %>
      <div class="memos-list">
        <%= render @memos %>
      </div>
    <% else %>
      <p class="text-center mt-4">Aucun mémo pour le moment.</p>
    <% end %>
  </div>
</div>
