<div>
  <div class="memos-publics-title">
    <h1>Mémos Public</h1>
  </div>

  <div class="memos-search">
    <%= form_with url: publics_memos_path, method: :get, local: true, class: "memos-search__form" do %>
      <div class="memos-search__field-wrapper">
        <%= text_field_tag :query,
            params[:query],
            placeholder: "Rechercher un mémo public",
            class: "memos-search__input" %>

        <button type="submit" class="memos-search__submit" aria-label="Rechercher">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    <% end %>
  </div>

  <div class="memos-page">
    <% if @memos.any? %>
      <div class="memos-list">
        <%= render @memos %>
      </div>
    <% else %>
      <p class="text-center mt-4">Aucun mémo public trouvé.</p>
    <% end %>
  </div>
</div>
