<div>
  <div class=mb-4>
    <h1 class="page-title sticker-text mb-3">Mémos publics</h1>
    <p class="text-center">Tes mémos publics : partage tes connaissances <br>avec la communauté.</p>
  </div>

  <div class="memos-search">
    <%= form_with url: publics_memos_path, method: :get, local: true, class: "memos-search__form" do %>
      <div class="memos-search__field-wrapper">
        <%= text_field_tag :query,
            params[:query],
            placeholder: "Rechercher un mémo public",
            class: "memos-search__input" %>

        <button type="submit" class="memos-search__submit" aria-label="Rechercher">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    <% end %>
  </div>

  <div class="memos-actions mb-4 mt-3">
    <%= link_to "Mes Mémos", memos_path, class: "btn btn-lg btn-primary btn-shadow" %>
  </div>

  <div class="memos-page">
    <% if @memos.any? %>
      <div class="memos-list">
        <%= render @memos %>
      </div>
    <% else %>
      <p class="text-center mt-4">Aucun mémo public pour le moment.</p>
    <% end %>
  </div>
</div>
