<h1><%= @memo.name %></h1>

<div class="memo-cards-grid">
  <%= render partial: "cards/card", collection: @cards, as: :card, locals: { memo: @memo } %>
</div>

<%= link_to "Supprimer",
    memo_path(@memo),
    class: "btn btn-danger btn-sm text-dark fw-bold",
    data: {
      turbo_method: :delete,
      turbo_confirm: "Etes vous sûr(e) de vouloir supprimer ce mémo ?"
    } %>
